html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1110px;
}
h2 {
  text-align: center;
  color: #515151;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 131px;
  margin-top: 0;
}

/* Header */

.site-nav {
  padding-bottom: 103px;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  margin: 0;
  color: #555252;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav .logo:first-letter {
  color: #1abc9c;
  font-weight: 900;
}
header .link:hover,
header .link:focus {
  color: #1abc9c;
}

header .nav-list {
  color: #0f0101;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
}

header .link {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: #0f0101;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-left: auto;
}

/* Products */

.main {
  color: #515151;
  font-size: 48px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 105px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-list {
  display: flex;
  width: 255px;
  background-color: #e9f0fd;
  margin-right: 30px;
  margin-bottom: 30px;
}

.products-list:nth-child(4n) {
  margin-right: 0px;
}

.products-list:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.products-link {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  width: 255px;
  height: 320px;
}

.gallery-img {
  width: 200px;
}

.products-descr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  background-color: #323232;
  width: 200px;
  height: 40px;
  position: relative;
  color: #ffffff;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  background-color: #8c8c8c;
  width: 55px;
  height: 40px;
  position: relative;
  color: #ffffff;
}

.product-img {
  width: 255px;
  position: absolute;
}

.products-link:hover .products-descr {
  background-color: #1abc9c;
}
.products-link:hover .price {
  background-color: #7fdbbf;
}

/* Blog */

.blog-list {
  display: flex;
  padding-top: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 81px;
}
.blog-name {
  margin-bottom: 14px;
}
.blog-name {
  color: #555252;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 43px;
}

.text {
  color: #555252;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 17px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  width: 160px;
  height: 50px;
  background-color: #4ec6ab;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  border-radius: 3px;
  border: 0px;
}
.button:hover {
  opacity: 0.6;
}

.blog-item {
  margin-right: 30px;
}

.blog-item:nth-last-child(-n + 1) {
  margin-right: 0;
}
